<article id="<%= post.layout %>-<%= post.slug %>" class="post">
	<footer class="entry-meta-header">
		<span class="meta-elements date">
			<%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
		</span>
		<span class="meta-elements author"><%= config.author %></span>
		<div class="commentscount">
			<% if (post.comments && config.duoshuo_shortname){ %>
				<a href="<%- post.permalink %>#duoshuo_head" class="article-comment-link">Comments</a>
			<% } %>
		</div>
	</footer>
	<%- partial('post/gallery') %>
	<header class="entry-header">
		<%- partial('post/title', {class_name: 'article-title'}) %>
	</header>
	<div class="entry-content">
		<% if (post.excerpt && index){ %>
			<%- post.excerpt %>
			<% if (theme.excerpt_link){ %>
				<p class="article-more-link">
					<a href="<%- config.root %><%- post.path %>#more"><%= theme.excerpt_link %></a>
				</p>
      <% } %>
    <% } else { %>
    	<%- post.content %>
    <% } %>
	</div>
	<footer class="entry-footer">
		<div class="entry-meta-footer">
			<span class="category">
				<%- partial('post/category') %>
			</span>
			<span class="tags">
				<%- partial('post/tag') %>
			</span>
		</div>
	</footer>
	<% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>

<% if (index){ %>
	<hr class="article-devider">
<% } %>
<% if (!index) { %>
  <%- partial('post/share') %>
<% } %>
<% if (!index && post.comments && config.duoshuo_shortname){ %>
<a name="duoshuo_head"></a>
<section id="comments">
<!-- 多说评论框 start -->
<div class="ds-thread" data-thread-key="<%- post.source %>" data-title="<%- post.title %>" data-url="<%- post.permalink %>"></div>
<!-- 多说评论框 end -->
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"<%- config.duoshuo_shortname %>"};
(function() {
  var ds = document.createElement('script');
  ds.type = 'text/javascript';ds.async = true;
  ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
  ds.charset = 'UTF-8';
  (document.getElementsByTagName('head')[0]
    || document.getElementsByTagName('body')[0]).appendChild(ds);
})();
</script>
<!-- 多说公共JS代码 end -->
</section>
<% } %>
